.add-reservation-popup{

  select option:disabled {
    color: #a0a0a0;
    font-weight: bold;
  }

  .out-of-time {
    border: 1px solid lightcoral;
    display: inline-block;
    padding: .4rem;
    background: lightcoral;
    color: #fff;
}

  input,select{
    border:1px solid #2ab2de;
    padding:5px 10px;
    text-align: center;
    box-sizing: border-box;
    min-width: 190px;
    &.time-picker-hours{
      min-width: 80px;
    }
    
  }

form{
      label{
        display: block;
      }
      .time-select{
        display: flex;
        margin:0 auto;
        justify-content: center;
      }
      .single-form-field{
        margin-bottom: 12px;
      }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;

  h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    border:none;
    background-color: transparent;
    cursor: pointer;

    &:hover{
      color: #0283be;
    }
  }

  .content {
    max-height: 30%;
    overflow: auto;
  }


}





@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

}