$arrow-color: #0683be;
$arrow-color-hover: rgb(132, 196, 255);
$arrow-height: 8px;
$background-color: #eee;
$btn-size:20px;

.datepicker{

  display: flex;
  align-items: center;

  .current-date{
    margin:0 .7rem;
    border:none;
    background:#ededf2;
    outline:none;
    text-align: center;
    width:100px;
    font-size:1rem;
  }

  .btn{
    width:$btn-size;
    height:$btn-size;
    position: relative;
    padding:0;
    border:none;
    outline:none;
  }

  .arrow {
    border: $arrow-height solid transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top:8%;
    width: 0;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      top: -$arrow-height;
      border: $arrow-height solid transparent;
    }
    &:hover {
      transition:border-color 0.2s ease;
    }
  }


  .arrow--left {
    right:30%;
    border-right: $arrow-height solid $arrow-color;
    &:after {
      border-right: $arrow-height solid $background-color;
      left: -($arrow-height - 1);
    }
    &:hover {
      border-right: $arrow-height solid $arrow-color-hover;
    }
  }
  .arrow--right {
    left:30%;
    border-left: $arrow-height solid $arrow-color;
    &:after {
      border-left: $arrow-height solid $background-color;
      right: -($arrow-height - 1);
    }
    &:hover {
      border-left: $arrow-height solid $arrow-color-hover;
    }
  }

}