$bgHeaderText:#f3f4fa;
$textColor:#818c98;
$tracker-bg:#ffffff;
$header-size:29px;


.timeline{
  // border:2px solid BLACK;
  color:$textColor;
  display: flex;
  &-footer{
       display: flex;
       justify-content: flex-start;
       background: #ffff;
       padding: 1rem;
       font-size: .9rem;
      > div + div{
      padding-left:20px;
      }

       .others::before{
              content: '';
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color:#7b7ded;
              margin-right: 6px;
       }
       .me::before{
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #94cafe;
            margin-right: 6px;
       }
  }

&-body{
  background:$tracker-bg;
  display: flex;
  flex-direction: column;
  
}

&-tracker{
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;

}

.single-deives{
  padding:10px;
  flex:1 1 80px;
  text-align: left;
  border:1px solid #cccccc;
    + .single-deives{
      border-top-width: 0;
    }
}

&-text-header{


  height: $header-size;
  text-align: center;
  display: flex;
  &.device-names{ 
    background: $bgHeaderText;
    border:1px solid #cccccc;
    text-align: center;
    border-bottom: none;
    line-height:$header-size; 
      justify-content: center;
  }

}

&-hours{
  position: relative;
   ol{
    background: $bgHeaderText;
    border:1px solid #cccccc;
        list-style: none;
        display: flex;
        margin:0;
        padding:0;
        li{
          padding:3px 30px 0;
          position: relative;
          &::after{
            content:'';
            display: block;
            width:2px;
            height:8px;
            background:darkgray;
            margin:0 auto;
          }
          &:before{
            content:'';
            display: block;
            width:2px;
            height:20%;
            background:darkgray;
            position: absolute;
            left:100%;
            bottom: 0;
            transform: translateX(-50%);
          }

        }
   }

  

}

}



::-webkit-scrollbar {
  max-width: 1em;
  height:.4rem;
}
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  // outline: 1px solid slategrey;
}