$single-tracker-bg:#ffffff;

.SingleDeviceTracker{
     display: grid;
     background:$single-tracker-bg;
     grid-auto-flow: column;  
     grid-template-columns:  repeat(48 , 50px);
     border-bottom: 1px solid #cccccc;
     height: 100px;
     .point{
          --startPoint:0;
          --endPoint:0;
          grid-column: var(--startPoint) / var(--endPoint);
     }
     .currentUserColor{
          background-color: #94cafe;
     }
     .others{
          background-color:#7b7ded;
     }

     &-inner-tracker{
          display: grid;
          background:$single-tracker-bg;
          grid-auto-flow: column;  
          grid-template-columns:  repeat(48 , 50px);
          height: inherit;
          .track-line:nth-child(2n){
               border-left:1px solid #cccccc87;
          }  
     }

}