$blueColor:#0683be;


.App {
  font-family: sans-serif;
  text-align: center;
  height:100vh;
  padding:100px 50px;
  nav{
      ul{
        list-style: none;
        overflow: hidden;
        margin:0;
        padding:0;
      }
      li{
            float:left;
          a{
            color:gray;
            text-decoration: none;
            display: block;
            padding:.4rem 1rem;
            &.active{
                    color:$blueColor;
                    font-weight: bold;
                    border-bottom: 2px solid; 
              }
          }

      }
  
  }

}



